<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Admin Login</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/authen.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>
  <!-- header -->
  
  <%- include ('../Header.ejs',{userInfor:'logout'}) %> 


   <div class="form">
        <form action="" id="login">
            <h4 style="text-align: center;">Admin Login </h4>
            <div class="inputfield">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text"
                      class="form-control" name="Email" id="Email" aria-describedby="helpId" placeholder="" required>
                    <small id="Email" class="form-text text-muted">Help text</small>
                  </div>
                  <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password"
                      class="form-control" name="Password" id="Password" aria-describedby="helpId" placeholder="Password">
                    <small id="Password" class="form-text text-muted">Help text</small>
                  </div>
                  
                  <button  style="margin-left:40%;" type="button" class="btn btn-warning">Login</button>
                  
            </div>
            
                
        </form>  

   </div>
   

   <!-- footer -->
  <%- include ('../Footer.ejs') %> 


    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>



    <script type="text/javascript" >
       
    

    </script>


</body>
</html>