<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>User Login</title>
    
    
    <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/authen.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" type="text/css" href="/javascripts/bootstrap/dist/css/bootstrap.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>



</head>
<body>
  
  <!-- header -->
  <%- include ('../Header.ejs') %> 
  

   <div class="form">
    
        <form action="/auth/login" method="post" id="login" class="login" >
            <h4 style="text-align: center;">User Login </h4>
            <div class="inputfield">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text"
                      class="form-control" name="Email" id="Email" aria-describedby="helpId" placeholder="abc@gmail.com" required>
                  
                  </div>
                  <div class="form-group">
                    <label for="Password">Password</label>
                    <input required type="password"
                      class="form-control" name="Password" id="Password" aria-describedby="helpId" placeholder="Password" required>
                   
                  </div>
                  
                  <div class="" id="alert">
                    <% if(alert) {%>
                    <div class="alert alert-danger alert" role="alert"  >
                        <%= alert %> 
                    </div>
                    <%}%>
                  </div>
                  <button  style="margin-left:40%;" type="submit" class="btn btn-warning">Login</button>
              
                  
            </div>
            <br>
                <a  style="margin-left:30%;" href="/auth/register">Aren't you having account ?</a>
                <br>
                <a   style="margin-left:35%;" href="/auth/admin/login">go to admin login</a>
                
        </form>  

   </div>
   
  
   <!-- footer -->
   <%- include ('../Footer.ejs') %> 

    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>



    <script type="text/javascript" >
      $('input').on('click', function(){
        $('#alert').html('');
      })
     

     //  $('form.login').on('submit', function (event) {

      //     var that = $(this), //refer to form
      //       url = that.attr('action'), //* cai nay bug ne 
      //       method = that.attr('method'),
      //       data = {};

      //     that.find('[name]').each(function (index, value) {
      //       let that = $(this),
      //         name = that.attr('name');

      //       value = that.val();

      //       // console.log(value);

      //       data[name] = value;
      //     })

      //     // console.log(data);

      //     // <div class="alert alert-danger alert" role="alert" >
      //     //             This is a danger alert—check it out!
      //     //           </div>

      //     axios({
      //       method: method,
      //       url: url,
      //       data: data
      //     }).then(function (response) {

      //       let {alert} =response.data;
      //         // console.log(response.data.alert);          
      //       if(alert){
      //         $('#alert').html(`  
      //         <div class="alert alert-danger alert" role="alert" >
      //                 ${alert}
      //         </div>
      //         `)

      //       }else{
      //           return true;
      //       }

      //     }).catch(error => console.log(error));


      //     return false; // prevent form submit event.preventDefault();  
      //   });      
      

    </script>


</body>
</html>