<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>News</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/User/Table.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
  

</head>
<body>
  
     <!-- header -->
     <%- include ('../Header.ejs',{userInfor:userInfor} ) %> 


   <div class="admin">
        <!-- title -->
        <h3 style="text-align:center"> Your News Post </h3>
         <hr> <br>
        <!-- /title -->
        <div class="WarpTable">
            <table class="table table-hover table-inverse  tbl">
                <thead class="thead-inverse">
                    <tr>
                        <th class="LeftCol">stt</th>
                        <th>Home Name</th>
                        <th>Address</th>                    
                        <th>Owner</th>
                        <th>Area</th>
                        <th>Purpose</th>                 
                        <th>Prices</th>                 
                        <th>Status</th>                 
                        <th class="RightCol">Button</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td scope="row" class="LeftCol" >1</td>
                            <td>VIncon Long bien riversite</td>
                            <td>Thu Thien THudau 1</td>
                          
                            <td> 2010</td>
                            <td> 2010</td>
                            
                            <td>watting </td>
                            <td class="RightCol"> <button type="button" class="btn btn-danger">delete</button> </td>
                            
                        </tr>
                        
                    </tbody>
            </table>
    

        </div>
       
        
          
       
   </div>
   
  

  <!-- footer -->
  <%- include ('../Footer.ejs') %> 

    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>



    <script type="text/javascript" >
       
      

    </script>


</body>
</html>