<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/images/icon/040-home.svg">
    
    <title>News</title>
    
    
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <link rel="stylesheet" href="../../public/stylesheets/User/Table.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="../../public/javascripts/bootstrap/dist/css/bootstrap.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>



</head>
<body>
  



   <div class="Table">
        <!-- title -->
        <h3 style="text-align:center"> Your News Post </h3>
         <hr> <br>
        <!-- /title -->
        <div class="WarpTable">
            <table class="table table-hover table-inverse table-responsive tbl">
                <thead class="thead-inverse">
                    <tr>
                        <th class="LeftCol">stt</th>
                        <th>Home Name</th>
                        <th>From mail</th>                    
                        <th>To Mail</th>
                        <th>Time</th>
                        <th>Duration</th>
                        <th>Status</th>                 
                        <th class="RightCol">Button</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td scope="row" class="LeftCol" >1</td>
                            <td>VIncon Long bien riversite</td>
                            <td>Thu Thien THudau 1</td>
                          
                            <td> 2010</td>
                            <td> 2010</td>
                            
                            <td>watting </td>
                            <td class="RightCol"> <button type="button" class="btn btn-danger">delete</button> </td>
                            
                        </tr>
                        
                    </tbody>
            </table>
    

        </div>
       
        
        
       
       
   </div>
   
  


    <!-- include jquery and bootstap -->
    <script src="../../public/javascripts/jquery/dist/jquery.js"></script>
    <script src="../../public/javascripts/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../public/javascripts/bootstrap/dist/js/bootstrap.js"></script>



    <script type="text/javascript" >
       
       $(`#Image`).keyup(function(){
             let link =$(`#Image`).val();
          $(`#PreviewImage`).attr('src',link); 

         }); 


     ClassicEditor
     .create( document.querySelector( '#editor' ) )
     .then( editor => {
            console.log( editor );
     } ).catch( error => {
          console.error( error );
    } );
           
                                
                                
         
      

    </script>


</body>
</html>