.NewDetails {
	padding: 50px 10%;
}

.information{
    padding: 30px 0px;
    background-color: #ededed;
}


.content{

    height:1000px;
    width: fit-content;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;

}

.MainNewsImage {
	padding-top: 1px;
	padding-left: 0px;
	width: 100%;
	height: 300px;
	/* display: block; */
}

.Fullbrief{
    height:200px;
    width: fit-content;
    display: block;
	overflow: auto;
}


/* news */
.NewsBlock {
	width: 370px;
	height: 550px;
	background-color: #ededed;
	margin: auto;
	margin-top: 30px;
	margin-left: 30px;
	box-shadow: 2px 2px 2px 2px #ddd9d9;
	border-radius: 5%;
}
.NewsImage {
	padding-top: 1px;
	padding-left: 0px;
	width: 100%;
	height: 200px;
	display: block;
}

.brief{
    height:100px;
    width: fit-content;
    display: block;
	overflow: hidden;
}