<div class="header" >
    <header>
         <ul >
             <li >
                 <a class="" href="/">
                     <img class="LogoIcon" src="/images/icon/040-home.svg" alt="icon" > 
                 </a>
             </li>
             <li  >
                 <a  href="/homelist">Home</a>   
             </li>
            
             <li >
                 <a  href="/news">News </a>
             </li>
             
             <li  class="right">
               
                <% if (  userInfor!=='logout' &&  userInfor!=='login'  &&  userInfor!=='admin' ) { %>
                 
                            <!-- Example single danger button -->
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                <%= userInfor._name %>                
                            </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="/users/">Your Home and Meeting</a>
                        <a class="dropdown-item" href="/users/profile">Profile</a>
                        <a class="dropdown-item" href="/users/news">Your News</a>
                        <a class="dropdown-item" href="/users/composermail">Mail Compose</a>
                        <a class="dropdown-item" href="/users/newhome">Post New Home</a>
                    
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Log out</a>
                    </div>
                </div>

                <% } else if(userInfor!=='login' &&  userInfor!=='admin' ) {%>
                
                 <a  href="/users/login"> <button type="button" class="btn btn-warning btn-sm"> User Login</button> </a>
                    <!--  bawts logic o day -->
                
                             
                <% } if(userInfor =='admin' ) {%>
                                <!-- Example single danger button -->
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                              Admin              
                            </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="/admin/home">Home </a>
                        <a class="dropdown-item" href="/admin/news">News</a>
                        <a class="dropdown-item" href="/admin/Meeting">Meeting</a>                    
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/logout">Log out</a>
                    </div>
                </div>

                <%  }%>

             </li>
             
         </ul>

         
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    </header>
</div>