<div class="header" >
    <header>
         <ul >
             <li >
                 <a class="" href="#">
                     <img class="LogoIcon" src="/images/icon/040-home.svg" alt="icon" > 
                 </a>
             </li>
             <li  >
                 <a  href="#">Home</a>   
             </li>
            
             <li style="margin-right:1px  ;" >
                 <a  href="#">List Home </a>
             </li>
             <li >
                 <a  href="#">News </a>
             </li>
             
             <li  class="right">
                 <a  href="#"> <button type="button" class="btn btn-warning btn-sm">Login</button> </a>
             </li>
             
         </ul>

         

    </header>
</div>