<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/images/icon/040-home.svg">
    
    <title>Document</title>
    
    <!-- bootstrap  -->
    <link rel="stylesheet" href="../public/javascripts/bootstrap/dist/css/bootstrap.css">
   



</head>
<body>
    
    <div class="alert alert-primary" role="alert">
        <strong>primary</strong>
    </div>
    <button type="button" class="btn btn-primary"></button>



    <!-- include jquery and bootstap -->
    <script src="../public/javascripts/jquery/dist/jquery.js"></script>
    <script src="../public/javascripts/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>