<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Mail</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/User/Mail.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>
    <!-- header  -->
    <%- include ('../Header.ejs',{userInfor:userInfor}) %> 


   <div class="Mail">
        <!-- title -->
        <h3 style="text-align:center"> Mail Composer </h3>
         <hr> <br>
        <!-- /title -->
        <form action="/users/composermail" method="post" class="formEmail" >
            <div class="form">
                    <div class="form-group">
                      <label for="">Your Email Acount</label>                    
                      <input type="email"
                        class="form-control" name="PassWord" id="PassWord" aria-describedby="helpId" placeholder="" required>
                        <small id="From" class="form-text text-muted">dotrunghg111999@gmail.com</small>
                    </div>
                    <div class="form-group">
                      <label for="PassWord">PassWord</label>
                      <input type="password"
                        class="form-control" name="PassWord" id="PassWord" aria-describedby="PassWord" placeholder="" required>
                      
                    </div>
                    <div class="form-group">
                      <label for="Services">Services</label>
                      <input type="text"
                        class="form-control" name="Services" id="Services" aria-describedby="Services" value="gmail" placeholder="Gmail" disabled>
                      <small id="Services" class="form-text text-muted">Default : gmail</small>
                    </div>
                    <div class="form-group">
                      <label for="From">From</label>
                      <input type="email"
                        class="form-control" name="From" id="From" aria-describedby="From" placeholder=""required>
                      <small id="From" class="form-text text-muted">dotrunghg111999@gmail.com</small>
                    </div>
                    <div class="form-group">
                      <label for="">To</label>
                   
                      <input type="email"                    
                        class="form-control" name="To" id="To" aria-describedby="helpId" placeholder="<%= toEmail%>" value="<%= toEmail%>" required>
                      
                          


                     
                    </div>
                    <div class="form-group">
                      <label for="subject">Subject</label>
                      <input type="text"
                        class="form-control" name="subject" id="subject" aria-describedby="subject" placeholder=""required>
                     

                    </div>

                    <div class="" id="alert">
                      <!-- alert put here -->
                    </div>
            </div>

              <!-- title -->
                <h3 style="text-align:center">  Composer </h3>
                <hr> <br>
              <!-- /title -->
           

               
                
             <textarea class="form-control" name="content"  id="editor" rows="30">
               
             </textarea>
               
               
                <br>
                <button  type="submit"  class="btn btn-primary" id="btn"> Send </button>
            </div>
            
            
        </form>
              

   </div>
   
    
     <!-- footer  -->
     <%- include('../Footer')  %> 


    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>



    <script type="text/javascript" >
       
      ClassicEditor.create( document.querySelector( '#editor' ) )
      .then( editor => {                          
          console.log( editor );                      
       } ) .catch( error => {
                 console.error( error );
      } );                                  
                               
                               
         
      

       $('form.formEmail').on('submit',function(event){
               
       var that = $(this), //refer to form
          url = that.attr('action'), //* cai nay bug ne 
          method= that.attr('method'),
          data={};
         
          that.find('[name]').each(function( index, value){
             let that = $(this),
                 name = that.attr('name');
            
                 
              value = that.val();
             data[name]=value;
          })
          console.log(data);
              
                      
               axios({
                   method: method,
                   url: url,
                   data: data
               }).then(function (response) {
                let { alert ,success} = response.data;
                  if (alert) {
                    $('#alert').html(`  
    <div class="alert alert-danger alert" role="alert" >
            PassWord or Email not correct! or Your Email Security 
            
    </div>`)

                  } else {
                    $('#alert').html(`  
          <div class="alert alert-success" role="alert">
 Send success
  
</div>`)
                  }  


               }).catch(error=>console.log(error) );
         
               
               return false; // prevent form submit event.preventDefault();  
           });
                             

    </script>

  
</body>
</html>