<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Your Home</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/User/profile.css">
    <link rel="stylesheet" href="/stylesheets/User/Table.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>



</head>
<body>
  
    <!-- header -->
    <%- include ('../Header.ejs',{userInfor:userInfor}) %> 

   <div class="Profile">
        <!-- title -->
        <h3 style="text-align:center"> Your Home </h3>
         <hr> <br>
        <!-- /title -->
        
        <table class="table table-hover table-inverse  tbl">
            <thead class="thead-inverse">
                <tr>
                    <th class="LeftCol">stt</th>
                    <th>Home Name</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>Year Built </th>
                    <th>Purpose</th>
                    <th>Prices</th>
                    <th>Status</th>
                    <th class="RightCol">Button</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" class="LeftCol">1</td>
                        <td>VIncon Long bien riversite</td>
                        <td>Thu Thien THudau 1</td>
                        <td> 3000</td>
                        <td> 2010</td>
                        <td>For Rent</td>
                        <td>21312</td>
                        <td>watting </td>
                        <td class="RightCol"> <button type="button" class="btn btn-danger">Modify</button> </td>
                        
                    </tr>
                    
                </tbody>
        </table>

         <!-- title -->
         <h3 style="text-align:center"> Incoming Meeting request </h3>
         <hr> <br>
        <!-- /title -->
        
        <table class="table table-hover table-inverse  tbl">
            <thead class="thead-inverse">
                <tr>
                    <th class="LeftCol">stt</th>
                    <th>Home Name</th>
                    <th>Address</th>
                    <th>Mail</th>
                    <th>Date </th>
                    <th>Duaration</th>
                    <th>Phone</th>
                    <th>Message</th>
                    <th>Sendmail</th>
                    <th class="RightCol" >Delete</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="LeftCol" scope="row">1</td>
                        <td>VIncon Long bien riversite</td>
                        <td>Thu Thien THudau 1</td>
                        <td> 3000</td>
                        <td> 2010</td>
                        <td >For Rent</td>
                        <td>watting </td>
                        <td>watting </td>
                        <td> <button type="button" class="btn btn-primary">SendMail</button> </td>
                        <td class="RightCol"> <button type="button" class="btn btn-danger">Delete</button> </td>
                        
                    </tr>
                    
                </tbody>
        </table>

   </div>
   
  
   <!-- Footer -->
   <div >
    <%- include('../Footer.ejs')  %> 

   </div>
  

    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>