body {
 
  /* font:  "Roboto", Helvetica, Arial, sans-serif; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.LogoIcon{
  height:30px ;
  width: 30px;
}


.BigIcon{
  height:40px ;
  width: 40px;
}

/* Header */
header{
  display: flex;
  background-color: #C693DE;
  color: black;
  padding-left: 10%;
  height: 55px;
}

header ul{
  display: flex;
  list-style-type: none ;
  
  padding-top: 10px ;
}
header ul li {
  flex-basis: 100px;
  flex-grow: 0;
}
.right{
  padding-left: 50%;
  flex-grow: 1;  
}

header ul li a{
  text-decoration: none;
  color: black;
}

/* Footer */

footer{
  background-color: #C693DE;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 30px;
}

footer .row .col-lg-6 ul{
  list-style-type: none;
  padding-left: 10%;
}

header .dropdown{
    margin-bottom: 10px;

}


.alert{
  margin: auto;
  width: 500px;
  height: 50px;
  text-align: center;

}