.Table{
    padding: 50px 10%;
}

.form{
    padding: 3%;
    background-color: #ededed;
}

.tbl {
    margin: auto;
    width: 800px;
}

.tbl tHead tr{
    background-color: #6EB1E1;
  
 
}

.RightCol{
    /* background-color: #6EB1E1; */
    border-radius: 0 50px 50px 0px;
    /* display: flex; */
}

.LeftCol{
    /* background-color: #6EB1E1; */
    border-radius: 50px 0px 0px 50px;

   
}