<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/images/icon/040-home.svg">
    
    <title>Index</title>
    
    
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <link rel="stylesheet" href="../../public/stylesheets/HomePage/index.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="../../public/javascripts/bootstrap/dist/css/bootstrap.css">
   



</head>
<body>
    <!-- header -->
   <div class="header" >
       <header>
            <ul >
                <li >
                    <a class="" href="#">
                        <img class="LogoIcon" src="../../public/images/icon/040-home.svg" alt="icon" > 
                    </a>
                </li>
                <li  >
                    <a  href="#">Home</a>   
                </li>
               
                <li style="margin-right:1px  ;" >
                    <a  href="#">List Home </a>
                </li>
                <li >
                    <a  href="#">News </a>
                </li>
                
                <li  class="right">
                    <a  href="#"> <button type="button" class="btn btn-warning btn-sm">Login</button> </a>
                </li>
                
            </ul>

            

       </header>
   </div>



   <div class="index">

        <div class=HomePostTitle>
            <h1> New Home Post</h1>
                <hr>
        </div>

        <div class="row HomePostRow">
            
            <!-- Home Block -->
            <div class="col-sm-3 HomeBlock">
               
                <div class="HomeImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">Real Estate name </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >
                  
                  <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                    <!-- sub infor -->
                <div class="row">
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;">
                            <img class="BigIcon" src="../../public/images/icon/calendar.svg" alt="calendar"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;">
                            Purpose <br>
                            <span style="color: red;">for Sale</span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;" >
                            <img class="BigIcon" src="../../public/images/icon/area.svg" alt="area"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;"> 
                            <img class="BigIcon" src="../../public/images/icon/cost.svg" alt="cost"> <b>20000000</b> $</img>
                           
                        </div>

                    </div>
                </div>    


            </div>
            <!-- /Home Block -->

            
            <!-- Home Block -->
            <div class="col-sm-3 HomeBlock">
               
                <div class="HomeImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">Real Estate name </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >
                  
                  <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                    <!-- sub infor -->
                <div class="row">
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;">
                            <img class="BigIcon" src="../../public/images/icon/calendar.svg" alt="calendar"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;">
                            Purpose <br>
                            <span style="color: red;">for Sale</span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;" >
                            <img class="BigIcon" src="../../public/images/icon/area.svg" alt="area"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;"> 
                            <img class="BigIcon" src="../../public/images/icon/cost.svg" alt="cost"> <b>20000000</b> $</img>
                           
                        </div>

                    </div>
                </div>    


            </div>
            <!-- /Home Block -->
            

 
            <!-- Home Block -->
            <div class="col-sm-3 HomeBlock">
               
                <div class="HomeImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">Real Estate name </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >
                  
                  <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                    <!-- sub infor -->
                <div class="row">
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;">
                            <img class="BigIcon" src="../../public/images/icon/calendar.svg" alt="calendar"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;">
                            Purpose <br>
                            <span style="color: red;">for Sale</span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;" >
                            <img class="BigIcon" src="../../public/images/icon/area.svg" alt="area"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;"> 
                            <img class="BigIcon" src="../../public/images/icon/cost.svg" alt="cost"> <b>20000000</b> $</img>
                           
                        </div>

                    </div>
                </div>    


            </div>
            <!-- /Home Block -->


              <!-- Home Block -->
              <div class="col-sm-3 HomeBlock">
               
                <div class="HomeImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">Real Estate name </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >
                  
                  <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                    <!-- sub infor -->
                <div class="row">
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;">
                            <img class="BigIcon" src="../../public/images/icon/calendar.svg" alt="calendar"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;">
                            Purpose <br>
                            <span style="color: red;">for Sale</span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;" >
                            <img class="BigIcon" src="../../public/images/icon/area.svg" alt="area"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;"> 
                            <img class="BigIcon" src="../../public/images/icon/cost.svg" alt="cost"> <b>20000000</b> $</img>
                           
                        </div>

                    </div>
                </div>    


            </div>
            <!-- /Home Block -->

            
            <!-- Home Block -->
            <div class="col-sm-3 HomeBlock">
               
                <div class="HomeImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">Real Estate name </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >
                  
                  <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                    <!-- sub infor -->
                <div class="row">
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;">
                            <img class="BigIcon" src="../../public/images/icon/calendar.svg" alt="calendar"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;">
                            Purpose <br>
                            <span style="color: red;">for Sale</span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;" >
                            <img class="BigIcon" src="../../public/images/icon/area.svg" alt="area"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;"> 
                            <img class="BigIcon" src="../../public/images/icon/cost.svg" alt="cost"> <b>20000000</b> $</img>
                           
                        </div>

                    </div>
                </div>    


            </div>
            <!-- /Home Block -->
            

 
            <!-- Home Block -->
            <div class="col-sm-3 HomeBlock">
               
                <div class="HomeImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">Real Estate name </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >
                  
                  <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                    <!-- sub infor -->
                <div class="row">
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;">
                            <img class="BigIcon" src="../../public/images/icon/calendar.svg" alt="calendar"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;">
                            Purpose <br>
                            <span style="color: red;">for Sale</span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div style="margin:8px 0px 8px 0px ;" >
                            <img class="BigIcon" src="../../public/images/icon/area.svg" alt="area"> <b>2000</b></img>
                            
                        </div>
                        
                        <div style="margin:8px 0px 8px 0px ;"> 
                            <img class="BigIcon" src="../../public/images/icon/cost.svg" alt="cost"> <b>20000000</b> $</img>
                           
                        </div>

                    </div>
                </div>    


            </div>
            <!-- /Home Block -->
            



        </div>
        <div class="pagination">
                <button type="button" class="btn btn-light"> <img src="../../public/images/icon/previous.svg" alt="previous"></button>
                <button type="button" class="btn btn-light"> <img src="../../public/images/icon/next.svg" alt="next"></button>
        </div>

        <div class=NewPostTitle>
            <h1> News  Post</h1>
                <hr>
        </div>

        <div class="row NewsPostRow">
         
            <!-- News Block -->
            <div class="col-sm-3 NewsBlock">
               
                <div class="NewsImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">News Titles </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >                
                    <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                <div class="Time" style="margin:8px 0px 8px 0px ;" >                
                    <img class="BigIcon" src="../../public/images/icon/015-stopwatch.svg" alt="Time"> <i> 15/2/2020 4h </i></img>
                </div>
                           
                 <div class="brief">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    <p class="ex2">HELLO WORLD!</p> Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.

                 </div>
                

            </div>
            <!-- /News Block -->

        </div>


   </div>
   


   <!-- footer -->
   <div class ="footer">
        <footer>
            
                <div class="row">
                    <div class="col-lg-6">
                       <ul>
                           <li><a style=" font-size: medium;" href="http://"> <img src="../../public/images/icon/google-drive.svg" class="BigIcon" alt="Drive icon"> Document</a></li>
                           <li>
                               <a style=" font-size: medium;" href="https://github.com/17021084/fudousan"> <img src="../../public/images/icon/github.svg" class="BigIcon" alt="github"> </a>
                               <a style=" font-size: medium;" href="https://www.facebook.com/profile.php?id=100009755466855"> <img src="../../public/images/icon/facebook.svg" class="BigIcon" alt="facebook"> </a>
                            
                            </li>
                           
                       </ul>
                        
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><img src="../../public/images/icon/gmail.svg" class="BigIcon" alt="Drive icon"> dotrunghg1999@gmail.com</li>
                            <li>
                                <img src="../../public/images/icon/copyright-guidelines.svg" class="BigIcon" alt="copyright"> Do Quang Trung-K62j-UET-VNU
                                     
                             </li>
                            
                        </ul>
                    </div>
                </div>


        </footer>
   </div>


    <!-- include jquery and bootstap -->
    <script src="../../public/javascripts/jquery/dist/jquery.js"></script>
    <script src="../../public/javascripts/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>