<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/images/icon/040-home.svg">
    
    <title>Index</title>
    
    
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="../../public/javascripts/bootstrap/dist/css/bootstrap.css">
   



</head>
<body>
    
   <div class="header" >
       <header>
            <ul >
                <li >
                    <a class="" href="#">
                        <img class="LogoIcon" src="../../public/images/icon/040-home.svg" alt="icon" > 
                    </a>
                </li>
                <li  >
                    <a  href="#">Home</a>   
                </li>
               
                <li >
                    <a  href="#">List Home </a>
                </li>
                <li >
                    <a  href="#">News </a>
                </li>
                
                <li  class="right">
                    <a  href="#"> <button type="button" class="btn btn-warning btn-sm">Login</button> </a>
                </li>
                
            </ul>

            

       </header>
   </div>



   
   <div class ="footer">
        <footer>
            đá
        </footer>
   </div>

    <!-- include jquery and bootstap -->
    <script src="../../public/javascripts/jquery/dist/jquery.js"></script>
    <script src="../../public/javascripts/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>