<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/images/icon/040-home.svg">
    
    <title>News Details </title>
    
    
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <link rel="stylesheet" href="../../public/stylesheets/HomePage/NewDetails.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="../../public/javascripts/bootstrap/dist/css/bootstrap.css">
   



</head>
<body>
    <!-- header -->
   <div class="header" >
       <header>
            <ul >
                <li >
                    <a class="" href="#">
                        <img class="LogoIcon" src="../../public/images/icon/040-home.svg" alt="icon" > 
                    </a>
                </li>
                <li  >
                    <a  href="#">Home</a>   
                </li>
               
                <li style="margin-right:1px  ;" >
                    <a  href="#">List Home </a>
                </li>
                <li >
                    <a  href="#">News </a>
                </li>
                
                <li  class="right">
                    <a  href="#"> <button type="button" class="btn btn-warning btn-sm">Login</button> </a>
                </li>
                
            </ul>

            

       </header>
   </div>


   
   <div class="NewDetails">

        <div  class="information">
            <h1 style="text-align: center;" > Title of news </h1>
            <div class="row">

                <div class="col-xl-5">
                    <div class="MainNewsImage">
                        <a href="http://"> 
                             <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/100/500/500" class= "img-thumbnail" alt="Responsive image">
                         </a>                 
                     </div>    


                </div>
                <div class="col-xl-7">
                   
                        <div class="Fullbrief">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                            <p class="ex2">HELLO WORLD!</p> Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.
        
                         </div>
                        <div class="row">
                            <div class="col-xl-4 HomeLocation">
                    
                                <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b style="font-size: smaller;"> KimJungkun-Busan </b></img>
                            </div>
                            
                            <div class="col-xl-4 HomeOwner" style="margin:8px 0px 8px 0px ;" >                
                                <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i style="font-size: smaller;" > Do Quang Trung </i></img>
                            </div>
            
                            <div class="col-xl-4 Time" style="margin:8px 0px 8px 0px ;" >                
                                <img class="BigIcon" src="../../public/images/icon/015-stopwatch.svg" alt="Time"> <i style="font-size: smaller;"> 15/2/2020 4h </i></img>
                            </div>
                        </div>

                </div>


            </div>
            
            <!-- content -->
            <div   class="content" >
                Lorem Ipsum
"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac posuere dolor, quis posuere purus. Sed vel auctor eros. Suspendisse potenti. Suspendisse in nisi augue. Phasellus dapibus luctus augue et lobortis. Mauris tristique justo id ullamcorper feugiat. Mauris risus turpis, rhoncus pretium lacinia ut, sodales sollicitudin urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra vitae est a imperdiet. Vivamus eros libero, eleifend in leo vel, efficitur mattis magna. Vivamus ac enim magna. Mauris vestibulum dignissim fermentum. Etiam viverra dictum mauris, eget molestie sem tempus sodales. Quisque laoreet dapibus urna, non varius nulla placerat non.

Vivamus ac odio purus. Praesent non nulla sed urna suscipit tempor ornare quis risus. Morbi tincidunt dignissim lacinia. Aliquam non leo a dui gravida sollicitudin sit amet vel nunc. Donec lorem arcu, laoreet vel elit at, luctus pulvinar nulla. Nunc consectetur leo vitae rhoncus viverra. Suspendisse ornare tortor leo, et ullamcorper libero porta ut. Sed cursus dolor id mauris vehicula, non facilisis dui varius. Phasellus vitae efficitur dolor.

Mauris rutrum erat diam, et bibendum elit dapibus at. Sed vulputate turpis vitae vulputate volutpat. Nunc odio nibh, suscipit vitae ipsum iaculis, bibendum semper ante. Quisque vulputate purus odio, ut aliquam velit faucibus tempus. Nullam vitae accumsan felis. Phasellus bibendum, purus ut ultrices iaculis, augue velit suscipit turpis, quis euismod nisi ligula quis dui. Cras aliquam elit ac consequat consequat. Praesent tincidunt pretium cursus. Donec at consectetur quam. Quisque dapibus at erat eget eleifend. Vestibulum mauris nisi, euismod non massa et, dignissim viverra libero. Vivamus in ante id turpis gravida ultrices. Suspendisse vitae orci ut sapien laoreet vulputate. Vestibulum velit turpis, malesuada id dui vitae, laoreet fermentum lectus. Sed et diam vitae neque suscipit tincidunt.

Fusce nulla elit, sagittis et rhoncus et, ultrices ut lectus. Vivamus fringilla enim ut malesuada gravida. Integer a elit sed risus bibendum venenatis at vehicula lectus. Proin semper sodales mi, sit amet sagittis ante malesuada sed. In nec dui vitae arcu molestie condimentum. Curabitur vitae magna sed nulla sagittis posuere. Donec id faucibus nibh.

Integer rutrum, lacus in tincidunt luctus, odio lectus aliquam lacus, non volutpat quam ipsum at diam. Suspendisse porta malesuada augue, eu tempor risus malesuada a. Fusce urna est, accumsan quis mauris eget, pretium vehicula nisl. Aliquam pulvinar ornare enim, sed accumsan metus egestas ut. Sed imperdiet risus sed fermentum consequat. Sed ultrices varius lorem, vel sagittis ipsum. Cras efficitur cursus felis ac mattis. Integer a ex eget lacus pharetra semper at et felis. Aenean at tristique libero. Proin ultricies condimentum velit, a molestie augue. Ut in dui et neque facilisis imperdiet.

Maecenas leo odio, pulvinar ac aliquet in, consectetur nec ligula. Aliquam erat volutpat. Sed vulputate sapien quis augue hendrerit interdum. Suspendisse congue non dui at rhoncus. Sed semper ullamcorper maximus. Nunc ac ultrices nisi. Fusce cursus cursus dui ut gravida.

Quisque vel ullamcorper nisi. Cras leo erat, placerat quis ultricies at, bibendum vitae arcu. Nulla faucibus efficitur ipsum, vel rhoncus dui gravida vitae. Nullam in dui ut felis finibus consequat. Pellentesque at lacinia purus, commodo egestas sapien. Sed in pellentesque lacus, nec consectetur libero. Duis dictum finibus ex quis rhoncus. Duis sed odio tincidunt, auctor tortor vel, luctus augue. Donec mattis sollicitudin tristique. Curabitur ultricies ex non orci tempor vestibulum. Nulla facilisi. Quisque nulla elit, sagittis non faucibus non, volutpat quis libero.

Nulla sagittis mattis mauris, ut congue lectus tincidunt non. Donec ut ex non nulla rutrum vulputate ac malesuada mauris. Sed vel pellentesque mauris. Proin blandit metus non urna volutpat, at elementum odio maximus. Pellentesque suscipit augue ut est faucibus bibendum condimentum nec nulla. Quisque bibendum ac lorem eget consequat. Aenean sed tortor vel lorem eleifend porta. Sed sodales libero erat, at aliquam augue ullamcorper nec. Praesent non varius sem, in varius eros. Maecenas varius dapibus libero nec viverra. Donec at efficitur diam, eu luctus tellus. Etiam rhoncus tempus eleifend.

Donec viverra nisi felis, at convallis diam vehicula et. Duis sit amet bibendum arcu. Aliquam mollis lacus massa, id aliquam velit feugiat id. Phasellus nec lorem egestas magna euismod sollicitudin. Integer tempus dolor at lorem porta dictum eget at nibh. In vitae augue iaculis nibh aliquet interdum et eget diam. Etiam id varius nisi, vestibulum mollis quam. Aenean imperdiet lacus diam, sed auctor sapien egestas vitae. Nunc vitae eros est. Donec sit amet elit at neque consequat pharetra. Nulla facilisi. Donec eget mattis lectus. Nulla elementum mollis metus non suscipit.

Mauris in risus eleifend, auctor leo sit amet, auctor ex. Donec ultrices nisl a sollicitudin porta. In at est eget libero rutrum pulvinar. Sed vehicula, nunc in pretium semper, ligula risus consequat tortor, sit amet euismod metus enim molestie lorem. Nulla ac dolor elit. Sed erat nisl, blandit et erat iaculis, ornare dignissim mauris. Nullam eu ipsum tellus. Donec in dolor faucibus, fringilla magna quis, iaculis lacus. Vivamus rhoncus nec sapien ac porttitor. Sed ligula ex, malesuada a malesuada non, pharetra vitae justo. In pellentesque odio non ultricies pulvinar. Donec vel eros sit amet risus consectetur feugiat. Vestibulum a suscipit leo. Mauris posuere pulvinar magna efficitur luctus. Nulla a eros quam.
            </div>

        </div>


        <div class=NewPostTitle>
            <h1> News  Post</h1>
                <hr>
        </div>

        <div class="row NewsPostRow">
         
            <!-- News Block -->
            <div class="col-sm-3 NewsBlock">
               
                <div class="NewsImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">News Titles </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >                
                    <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                <div class="Time" style="margin:8px 0px 8px 0px ;" >                
                    <img class="BigIcon" src="../../public/images/icon/015-stopwatch.svg" alt="Time"> <i> 15/2/2020 4h </i></img>
                </div>
                              
                 <div class="brief">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    <p class="ex2">HELLO WORLD!</p> Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.

                 </div>
                 <a href="http://">See more <br></a>   

            </div>
            <!-- /News Block -->
            
             <!-- News Block -->
             <div class="col-sm-3 NewsBlock">
               
                <div class="NewsImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">News Titles </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >                
                    <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                <div class="Time" style="margin:8px 0px 8px 0px ;" >                
                    <img class="BigIcon" src="../../public/images/icon/015-stopwatch.svg" alt="Time"> <i> 15/2/2020 4h </i></img>
                </div>
                              
                 <div class="brief">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    <p class="ex2">HELLO WORLD!</p> Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.

                 </div>
                 <a href="http://">See more <br></a>   

            </div>
            <!-- /News Block -->

             <!-- News Block -->
             <div class="col-sm-3 NewsBlock">
               
                <div class="NewsImage">
                   <a href="http://"> 
                        <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" alt="Responsive image">
                    </a>                 
                </div>    

                <div class="HomeName">
                    <a href="http://"><h4 style="text-align: center;">News Titles </h4></a>
                </div>
                <div class="HomeLocation">
                    
                    <img class="BigIcon" src="../../public/images/icon/location.svg" alt="Location"> <b> KimJungkun-Busan </b></img>
                </div>
                
                <div class="HomeOwner" style="margin:8px 0px 8px 0px ;" >                
                    <img class="BigIcon" src="../../public/images/icon/owner.svg" alt="HomeOwner"> <i> Do Quang Trung </i></img>
                </div>

                <div class="Time" style="margin:8px 0px 8px 0px ;" >                
                    <img class="BigIcon" src="../../public/images/icon/015-stopwatch.svg" alt="Time"> <i> 15/2/2020 4h </i></img>
                </div>
                              
                 <div class="brief">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                    <p class="ex2">HELLO WORLD!</p> Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.

                 </div>
                 <a href="http://">See more <br></a>   

            </div>
            <!-- /News Block -->


        </div>


   </div>
   


   <!-- footer -->
   <div class ="footer">
        <footer>
            
                <div class="row">
                    <div class="col-lg-6">
                       <ul>
                           <li><a style=" font-size: medium;" href="http://"> <img src="../../public/images/icon/google-drive.svg" class="BigIcon" alt="Drive icon"> Document</a></li>
                           <li>
                               <a style=" font-size: medium;" href="https://github.com/17021084/fudousan"> <img src="../../public/images/icon/github.svg" class="BigIcon" alt="github"> </a>
                               <a style=" font-size: medium;" href="https://www.facebook.com/profile.php?id=100009755466855"> <img src="../../public/images/icon/facebook.svg" class="BigIcon" alt="facebook"> </a>
                            
                            </li>
                           
                       </ul>
                        
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><img src="../../public/images/icon/gmail.svg" class="BigIcon" alt="Drive icon"> dotrunghg1999@gmail.com</li>
                            <li>
                                <img src="../../public/images/icon/copyright-guidelines.svg" class="BigIcon" alt="copyright"> Do Quang Trung-K62j-UET-VNU
                                     
                             </li>
                            
                        </ul>
                    </div>
                </div>


        </footer>
   </div>


    <!-- include jquery and bootstap -->
    <script src="../../public/javascripts/jquery/dist/jquery.js"></script>
    <script src="../../public/javascripts/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>